* {
  margin: 0;
  padding: 0;
}

.content {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.longContent {
  background-color: khaki;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 1000px;
  padding-top: 10px;
}

.helpers {
  width: 100px;
  height: 100px;
  background-color: #fff;
  position: absolute;
  top: 100px;
  left: 0;
}
